@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header-container {
  padding-top: 50px;
  padding-left: 5%;
  width: 100%;
  height: 200px;
  background-color: #f8f9fa;
  text-align: center;
}

.cards-area {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: #000; */
}

.cards-container {
  display: flex;
  width: 1200px;
  justify-content: center;
  flex-wrap: wrap;
}
.cards {
  margin: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 320px;
}

.cards-header {
  width: 320px;
  height: 250px;
}

.cards-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.cards-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 200px;
}

.cards-body p {
  font-size: 15px;
  margin: 0 0 20px;
}

.arrowHead:hover {
  transform: scale(1.3);
}
